{% extends "base.html" %}
{% load i18n %}

{% block content %}
<div id="app" class="d-flex justify-content-center align-items-center">
  <main class="auth-container" style="min-height: auto;">
    <header class="header">
      <h2>Authorize {{ grant.client.client_name }}</h2>
    </header>
    <p>{% if grant.client.website %}
      <a href="{{ grant.client.website }}" target="_blank" rel="noreferrer" title="{{ grant.client.client_name|safe }}">
        {{ grant.client.client_name|safe }}
      </a>{% else %}
      <span>{{ grant.client.client_name|safe }}</span>{% endif %}
      wants to access your <b>{{user.username}}</b> account.
    </p>
    <form method="post">
      {% if 'openid' in scopes %}<div>
        <label>
          <input type="hidden" name="scope_list" value="openid"><input type="checkbox" checked disabled>
          Get OpenID
        </label>
      </div>{% endif %}
      {% if 'read:profile' in scopes %}<div>
        <label>
          <input type="hidden" name="scope_list" value="read:profile"><input type="checkbox" checked disabled>
          Read profile
        </label>
      </div>{% endif %}
      {% if 'email' in scopes %}<div>
        <label>
          <input type="hidden" name="scope_list" value="email"><input type="checkbox" checked disabled>
          Read email address
        </label>
      </div>{% endif %}
      <hr class="mt-4 mb-4">
      <div class="form-row mb-2">
        <div class="col">
          {% csrf_token %}
          <button type="submit" name="action" value="cancel" class="btn btn-block btn-light">{% trans "Cancel" %}</button>
        </div>
        <div class="col">
          <button type="submit" name="action" value="consent" class="btn btn-block btn-success">{% trans "Approve" %}</button>
        </div>
      </div>
    </form>
    <p class="text-center">
      <small>
        Authorizing will redirect to<br>
        <b>{{ grant.request.redirect_uri|default:grant.client.get_default_redirect_uri }}</b>
      </small>
    </p>
  </main>
</div>
{% endblock %}